<div class="fw"> 
  <div id="header">
    <h1 id="title" style="float:left;">
      Stories for Sustainability
    </h1>
    <a style="float: right" (click)="logout()">
        <h4  >
            Sign Out
          </h4>
        </a>

  </div>

    <!-- TOP NAVBAR -->
      <div class="hdr-bg hide-desktop"></div>
    <div class="hdr-navbar"> <!-- add dark class for 'dark" nav-->
      <div class="navbar yamm fw-vp">
        <div id='overlay'></div>
        <div id="navbar-collapse-grid" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" role="tablist">
            <!-- Classic -->
            <li class="dropdown yamm classic">
              <a data-track-content data-content-name="Navigation-global-horizontal" data-content-piece="primary_link_home" cc="primary_link_home" routerLink="/home" aria-expanded="false" touchstart="">Home</a>
            </li>
            <li class="dropdown yamm classic">
                <a data-track-content data-content-name="Navigation-global-horizontal" data-content-piece="primary_link_create" cc="primary_link_create" routerLink="/create" aria-expanded="false" touchstart="">Create Story</a>
            </li>
            <!-- <li class="dropdown yamm classic">
                <a data-track-content data-content-name="Navigation-global-horizontal" data-content-piece="primary_link_admin" cc="primary_link_admin" routerLink="/settings" aria-expanded="false" touchstart="">Settings</a>
            </li> -->
          </ul>
        </div>
      <!-- ** TOP NAVBAR ** -->
      </div>
    </div>
  </div>